@font-face {
  font-family: "ReadexPro";
  src: url("/assets/fonts/ReadexPro/ttf/ReadexPro-Regular.ttf");
}

@font-face {
  font-family: "OdibeeSans";
  src: url("/assets/fonts/OdibeeSans/OdibeeSans-Regular.otf");
}

@font-face {
  font-family: "Play";
  src: url("/assets/fonts/Play/Play-Regular.ttf");
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.button-stroker {
  text-align: center;
  font-family: "ReadexPro";
  font-size: 1rem;
  padding: 0.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 76.523%; /* 0.86088rem */
  letter-spacing: 0.26438rem;


  border-radius: 5px;
  background: linear-gradient(#000510,#000510) padding-box, linear-gradient(to right,#1758ff, #17f1ff) border-box;
  border: 4px solid transparent;
  
}

.h1 {
  font-family: "Play";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.523%;
  letter-spacing: -0.065rem;
}

.h2 {
  font-family: "ReadexPro";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.523%; /* 1.49219rem */
  letter-spacing: 0.08938rem;
}

.p {
  font-family: "ReadexPro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.523%; /* 1.08525rem */
  letter-spacing: 0.065rem;
}

.link {
  /* P */
  font-family: "ReadexPro";
  font-size: 1rem;
  font-weight: 400;
  line-height: 76.523%; /* 13.774px */
  letter-spacing: 4.23px;
  transition: all ease .2s;
}

.link:hover{
  color: #1758FF;
}

nav {
  padding: 0.75rem 0;
}

.listaDeMenu li{
  padding:  0 0.6rem;

}

.listaDeMenu li:last-child {
  margin-top: -0.35rem;
}
