.imgFundo {
    background-image: url("../../assets/imgs/topContent/top-content.png");
    margin: 0;
    padding: 0;
    background-size: cover;
    width: 100%;    
    height: 600px;
    max-width: 2000px;
}

.imgFundo div{
    text-align: start;
    padding-top:  10%;
}

.imgFundo div > img{
    width: 500px;
}


span{
    height: 100%;
    margin: 30px 0;
}

p{
    max-width: 32.688rem; /*523px;*/
    margin: 1.25rem 0; 

    font-size: 1.125rem;
    font-style: normal;
    line-height: 108.523%; /* 23.875px */
    letter-spacing: 1.43px;
}

button{
    height: 100%;
    margin: 30px 0;
}


@media (max-width: 60em){/*990px*/

    .imgFundo {
        width: 100%;    
        height: 00%;
    }

    .imgFundo div{
        text-align: start;
        padding-top:  10%;
    }
    
    .imgFundo div > img{
        width: 400px;
    }

    p{
        max-width: 32.688rem; /*523px;*/
        margin: 0.825rem 0; 
    
        font-size: 1rem;
        font-style: normal;
        line-height: 108.523%; /* 23.875px */
        letter-spacing: 1.43px;
    }
    
  
}

@media (max-width: 700px){/*500px*/

    .imgFundo {
        background-image: url("../../assets/imgs/topContent/top-content-mobile.png");
            
        }

        .imgFundo div{
            text-align: start;
            padding-top:  10%;
        }
        
        .imgFundo div > img{
            width: 200px;
        }
    }

@media (max-width: 31.25rem){/*500px*/

    .imgFundo {
        background-image: url("../../assets/imgs/topContent/top-content-mobile.png");
            
        }

        .imgFundo div{
            text-align: start;
            padding-top:  40%;
        }
        
        .imgFundo div > img{
            width: 200px;
        }
    span{
        height: 100px;
        margin: 20% 0;
    }
    
    p{
        margin:  10px 0;
        font-size: 14px; 
    }
    
    .imgFundo div button{
        width: 100%;
        margin-top: 0%;
        height: 60px;
    }
}

@media (min-width: 1540px){/*500px*/

    .imgFundo {

        height: 800px;
    }
}
