.background{
    background-image: url("../../assets/imgs/bkgServices.png");
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    align-items: flex-end;
    margin: 150px 0 0 0 ;
    padding: 0;
    padding: 50px 0;
}

.background p{
    margin: 0 auto;
}

.containerServices{
    text-align: center;
    width: 840px;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0;


}

h3{
    text-align: left;
    display: block;
    /* height: 1000px; */
    margin-top: 50px;
}

h3 span{
    color: var(--primary);
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 1%;
    flex-wrap: wrap;
}

.card{
    border-radius: 5px;
    background: var(--background);
    width: 48%;
    transition: all ease .3s;
    border: 2px solid transparent;
    margin: 5px 0;

}

.card img{
    margin: 10px; 
    transition: all ease .3s;
}

.card h4{
    font-family: 'Readex Pro';
    color: var(--support-01);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.523%; /* 23.875px */
    letter-spacing: 1.43px;
    padding: 0;
    margin: 0; 
}

.card div{
    margin: 0;
    padding: 3px;
    background: var(--support-01);
    height: 0.1px;
    margin: 5px auto;
    transition: all ease .3s;
}

.card p{
    text-align: left;
    color: var(--support-02, #A0A0A0);
    font-family: 'Readex Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 102.523%; /* 16.404px */
    letter-spacing: 2.48px; 
    margin: 0;
    padding: 10px;    
}

.card:hover {
    border: 2px solid var(--primary);
}

.card:hover div{
    background: var(--primary);

}

.card:hover img{
    transform: scale(1.1);
}
