


/*
.hamburguer{
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color:var(--background);
    cursor: pointer;
    transition: all 0.25s;
    color: var(--primary);
    border: none;
    border-image: none;
    transform: translateY(-50%);
    display: none;    
}
*/

.logo{
    margin: 0;
}

.navigation {
    min-height: 3.75rem; /*60px*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
    color: var(--primary);
}

.navigatioMenu ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    right: 0;
}

.navigatioMenu ul li{
    list-style: none;
    margin-left: 0.938rem /*15px*/;
    transition: all ease .2s;
}

.navigatioMenu ul li:hover{
    transform: scale(1.1);
}


.navigatioMenu ul li button:hover{
    font-weight: 600;
}

@media (max-width: 60em){/*990px*/

    .navigatioMenu ul li a{
        font-size: 0.875rem

    }

    .navigatioMenu ul{
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .navigatioMenu ul li{
  
        margin: 10px ;
    }

}

@media (max-width: 31.25rem){/*500px*/

    .logo{
        margin-top: 10px;
    }

    .navigation {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .navigatioMenu ul{
        flex-direction: column;
        align-items: end;
        width: 100%;

    }

    .navigatioMenu ul li{
        font-size: 1rem;
        margin: 10px 0;
    }

    .navigatioMenu ul li button{
        padding: 0.6em 4.2em;
        margin: 0; 
        width: 100%;
    }

}