.background{
    background-image: url("../../assets/imgs/results.png");
    margin: 0;
    height: 603px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
}


.background div p{
    margin-bottom: 125px;
}

h3 span{
    color: var(--primary);
}

h3{
    display: block;
    /* height: 1000px; */
    margin-top: 50px;
}