.background{
    background-image: url("../../assets/imgs/results.png");
    margin: 0;
    height: 635px;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

.background div p{
    padding-top: 450px;
}

.containerResult{
    max-width: 60rem;
    margin: 0 auto;
    padding: 0;

}

h3 span{
    color: var(--primary);
}

h3{
    display: block;
    /* height: 1000px; */
    margin-top: 3.125rem /*50px*/;
}

/* ComponentsResults*/

.TopContent{
    margin-top:3.125rem /*50px*/;
    display: flex;
    flex-direction: row;
    gap: 1.25rem /*20px*/;
    
}

.imagePerfil{
   
   width: 20vh /*217px*/; 
   border-radius: 5px;

   /* background-image: url("../../assets/imgs/clients/client-01.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position-x: center; */
}

.descript{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.descript h4{
    margin: 0 0 0.625rem /*10px*/ 0;
    padding: 0;

    font-size: 1.375rem /*22px*/;
    font-style: normal;
    font-weight: 400;
    line-height: 108.523%; /* 23.875px */
    letter-spacing: 1.43px;
}

.descript ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.descript ul li{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 108.523%; /* 17.364px */
    letter-spacing: 1.04px;
    color: var(--support-02);
}

.descript ul li:hover{
    transform: none;
}


.introImages{

    display: flex;
    flex-direction: row;
    gap: 2% /*10px*/;
    justify-content: space-around;
    flex-wrap: wrap;
}

.introImages img{
    width: 48% /*290px*/;

    margin-top: 3% /*18px*/;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 1;
    transition: all ease .3s;
}

.introImages img:hover{
    transform: scale(1.1);
    z-index: 1000;

}
/*preciso melhorar essa bagunça*/








@media (max-width: 1200px){
    .background{
        height: 405px;
    }
    
    .background div p{
        padding-top: 200px;
    }

}

@media (max-width: 990px){
    .background{
        height: 355px;
    }
    
    .background div p{
        padding-top: 180px;
    }



}

@media (max-width: 768px){


  /*  .TopContent{
        margin-top:3.125rem ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.525rem ;
        
    }*/



}

@media (max-width: 31.25rem){/*500px*/
    .background{
        height: 205px;
    }
    
    .background div p{
        padding-top: 130px;
    }

    .imagePerfil{
   
        height: 10vh /*217px*/; 
        width: 12vh;
        border-radius: 5px;
     
        /* background-image: url("../../assets/imgs/clients/client-01.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center; */
     }


     .descript ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

     .descript ul li{

        margin-right: 20px;
        
    }

    .introImages img{
        width: 100%;
        margin-bottom: 30px;
    }

        
 
}


@media (max-width: 400px){/*500px*/
    .background{
        height: 155px;
    }
    
    .background div p{
        padding-top: 90px;
    }
   
 
}






